/* general reset */ 
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li, form, label, legend,
table, caption, tr, th, td, article, aside, figure, figcaption, 
footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* behave as block-level elements */
article, aside, details, figcaption, figure, 
footer, header, nav, section {
	display: block;
}

/* consistent spacing */
body {
	line-height: 1;
}

/* no more list formatting */
ol, ul {
	list-style: none;
}

/* collapse table border and remove spacing */
table {
	border-collapse: collapse;
	border-spacing: 0;
}