/* 
------------------------------
        Global classes
------------------------------
*/
:root {
    --background: #23243a; 
    --bgDark: #1b1b2c;
    --white: #feffff;
    --red: #f66364;
    --darkRed: #ca3c3c;
    --header: 'Pacifico', cursive;
    --body: 'Josefin Sans', sans-serif;
    
    --font-size-small: 0.875rem;
    --font-size-medium: 1.25rem;
    --font-size-large: 1.75rem;
    --font-size-header: 2.5rem;
    --border-radius: 0.5rem;
    --transition-speed: 0.3s;

    --h3-bottom-margin: 1.25rem;
    --max-width: 90%;
}

html, body {
    min-height:101%;
    scroll-behavior: smooth;
}

html {
    background-color: var(--background);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body);
    color: var(--white);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: var(--font-size-large);
    font-family: var(--header);
    font-weight: bold;
}

h2, h3, h4, h5, h6 {
    margin-top: 1.25rem;
    text-decoration: underline var(--red);
}

p {
    font-size: var(--font-size-medium);
    text-align: justify;
}

/* ----------- */


/*
------------------------------
        Unique classes
------------------------------
*/


/* Navbar */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.25rem 0;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: var(--background);
}

.navbar .logo {
    color: var(--white);
    font-family: var(--header);
    font-size: var(--font-size-header);
    font-weight: bold;
    text-decoration: none;
}

.navbar .logo:hover {
    text-decoration: none;
}
    
.nav-links {
    font-size: var(--font-size-medium);
    list-style: none;
    display: flex;
    gap: 1.25rem;
}

.nav-links li {
    margin: 0;
}

.navbar a {
    color: var(--white);
    font-family: var(--body);
    text-decoration: none;
    position: relative;
    margin: 0;
}

.navbar a:hover {
    color: var(--red);
}


.nav-links .dropdown {
    position: relative;
    display: inline-block;
}

.nav-links .dropdown-content {
    display: none; /* hide typically content */
    position: absolute; /* below blog (parent) */
    z-index: 1;
}

.nav-links .dropdown-content a {
    color: var(--white);
    text-decoration: none;
    display: block;
    margin-top: 0.5rem;
}

.nav-links .dropdown-content a:hover {
    color: var(--red);
}

.nav-links .dropdown:hover .dropdown-content {
    display: block;
}
/* ----------- */


/* Footer */
.footer {
    color: var(--white);
    background-color: var(--bgDark);
    text-align: center;
    padding: 1.25rem;
    width: 30%;
    border-radius: var(--border-radius);
    margin: 0 auto;
    margin-bottom: 0.5rem;
}

.footer a {
    color: var(--white);
    font-family: var(--body);
    text-decoration: none;
    position: relative;
    margin: 0 0.9375rem;
}

.footer p {
    color: var(--white);
    font-family: var(--body);
    text-decoration: none;
    position: relative;
    top: 0.5rem;
    text-align: center;
}

.footer svg {
    fill: var(--white);
    transition: fill var(--transition-speed) ease;
}

.footer svg:hover {
    fill: var(--red);
}
/* ----------- */


/* Main page */
.home-page {
    height: 100vh;
    min-height: 80rem;
    max-height: 120rem;
    position: relative;
}

.home-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
    height: 50vh;
}

.heading-home {
    font-size: var(--font-size-header);
    text-align: center;
    margin-top: 3.125rem;
}

.home-info {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1.25rem;
}

.page-btn {
    background-color: var(--red);
    color: var(--white);
    font-family: var(--body);
    font-size: var(--font-size-medium);
    text-decoration: none;
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    margin-top: 1.875rem;
    transition: transform var(--transition-speed) ease;
}

.page-btn:hover {
    transform: scale(1.05);
}

/* ----------- */



/* Content Container */
.content-page {
    min-height: 80rem;
    max-height: 120rem;
    position: relative;
    padding-top: 10rem;
}

.content-page-bottom {
    position: relative;
    padding-top: 5rem;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
    height: 50vh;
}

.heading-content {
    font-size: var(--font-size-large);
    text-align: center;
    margin-top: 3.125rem;
}

.heading-content-sub {
    font-size: var(--font-size-medium);
    text-align: center;
    margin-top: 1.25rem;
    max-width: var(--max-width);
}


.content-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15%;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}

.content-info-left {
    margin: 0;
    padding: 0;
    box-sizing: inherit; /* ensure padding and borders used*/
    font-family: inherit;
}

.content-info-left-header {
    font-size: var(--font-size-large);
    margin-bottom: var(--h3-bottom-margin);
}

.content-info-left figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 1.25rem;    
    position: relative;
}

.content-info-left figcaption {
    position: absolute;
    right: 8%;
    text-align: right;
}

.content-info-right {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}

.content-info-right-header {
    font-size: var(--font-size-large);
    margin-bottom: var(--h3-bottom-margin);
}

.content-info-gridless {
    /* class for experience section */
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}

/* ----------- */

/* Skills Section */
.skills-box {
    background-color: var(--bgDark);
    padding: 1.25rem;
    border-radius: var(--border-radius);
    margin-top: 1.25rem;
    width: 100%;
    max-width: var(--max-width);
}

.skills-table {
    width: 100%;
    border-collapse: collapse; /* no border */
    margin: 0 auto;
    text-align: center;
}

.skills-table td {
    padding: 1rem;
    text-align: center;
    width: 33.33%;
}

.skills-table img {
    width: 6.25rem;
    height: 6.25rem;
    transition: transform var(--transition-speed) ease;
}

.skills-table img:hover {
    transform: scale(1.2);
}
/* ----------- */

/* Projects Section */
.projects-page {
    position: relative;
    padding-top: 5rem;
}

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
}

.projectCard-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto; /* allow rows to adjust with content */
    grid-gap: 1.25rem;
    margin: 0 auto;
    margin-top: 2.5rem;
}

/* project card */
.projectCard {
    --projCardPad: 1rem;
    color: var(--bgDark);
    width: 16rem;
    height: 22rem;
    border-radius: var(--border-radius);
    background: var(--white);
    display: flex;
    flex-direction: column;
    transition: var(--transition-speed);
    position: relative;
}

.projectCard:hover {
    transform: scale(1.05);
}

.projectCard-img {
    height: 8rem;
    object-fit: cover; /* keep aspect ration, fill dimensions */
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.projectCard-descr-container {
    padding: var(--projCardPad);
    display: grid;
}

.projectCard-title {
    color: var(--font-color);
    text-align: center;
    margin-bottom: var(--projCardPad);
    font-size: var(--font-size-medium);
}

.projectCard-descr {
    color: var(--font-color);
}

.projectCard-svg {
    width: 1.5rem;
    height: 1.5rem;
    transform: translateY(25%); /* centre to text */
    fill: var(--font-color);
}

.projectCard-links {
    margin-left: auto;
    position: absolute;
    bottom: var(--projCardPad);
    right: var(--projCardPad);
}

.projectCard-link {
    color: var(--font-color);
    font-weight: 600; /* slightly bold */
    font-size: var(--font-size-small);
    text-decoration: none;
}

.projectCard-link:hover {
    text-decoration: underline;
}
/* ----------- */


/* Timeline */
.timeline {
    position: relative;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 2rem 0;
    width: var(--max-width);
    text-align: center;
}

.timeline-bar {
    position: relative;
    width: 100%;
    height: 0.125rem;
    background-color: var(--white);
}

.timeline-year {
    position: absolute;
    top: -0.75rem;
    width: 0.125rem;
    height: 1.5rem;
    background-color: var(--white);
}

.timeline-year-label {
    position: absolute;
    top: -2rem;
    font-size: var(--font-size-small);
    color: var(--white);
    transform: translateX(-50%);
}

.timeline-section {
    position: absolute;
    top: -1.5rem;
    width: 0.25rem;
    height: 3rem;
    background-color: var(--red);
    cursor: pointer;
}

.timeline-section:hover .timeline-description {
    display: block; /* block display for new element properties etc. */
}

.timeline-description {
    display: none;
    position: absolute;
    top: 3.15rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bgDark);
    color: var(--white);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    width: 15rem;
    text-align: center;
    z-index: 1;
}
/* ----------- */

/* Education */
.education-section {
    position: relative;
}

.education-section img:hover + .education-description { /* + used to select next element for img hovering */
    display: block;
}

.education-description {
    display: none;
    position: absolute;
    top: 10rem;
    left: 50%; /* help centre */
    transform: translateX(-50%); /* help centre */
    background-color: var(--bgDark);
    color: var(--white);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    width: 15rem;
    text-align: center;
    z-index: 1;
}
/* ----------- */

/* Blog Section */
.blog-page {
    position: relative;
    padding-top: 5rem;
}

.blog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
}

.heading-projects {
    font-size: var(--font-size-large);
    text-align: center;
    margin-top: 3.125rem;
}

/* Login */
.login-box {
    background-color: var(--bgDark);
    padding: 2rem;
    border-radius: var(--border-radius);
    margin: 15rem auto;
    width: 20%;
}

.login-box form {
    display: flex;
    flex-direction: column;
}

.login-box label {
    margin-bottom: 0.5rem;
    font-size: var(--font-size-medium);
}

.login-box input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: var(--font-size-medium);
    border: none;
    border-radius: var(--border-radius);
    font-family: var(--body);
}

.login-box button {
    font-family: var(--body);
    background-color: var(--red);
    color: var(--white);
    font-size: var(--font-size-medium);
    padding: 0.75rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color var(--transition-speed);
}

.login-box button:hover {
    background-color: var(--darkRed);
}
/* ----------- */

.postLogin-box-header { /* header for both addPost and login (hence name) */
    font-size: var(--font-size-large);
    text-align: center;
    margin-bottom: 1.25rem;
    margin-top: 0; /* remove default margin */
}

/* Add post */
.post-box {
    background-color: var(--bgDark);
    padding: 2rem;
    border-radius: var(--border-radius);
    margin: 15rem auto;
    width: 20%;
}

.post-box form {
    display: flex;
    flex-direction: column;
}

.post-box label {
    margin-bottom: 0.5rem;
    font-size: var(--font-size-medium);
}

.post-box input {
    font-family: var(--body);
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: var(--font-size-medium);
    border: none;
    border-radius: var(--border-radius);
}

.post-box-button-container {
    display: flex;
    justify-content: space-between;
}

.post-box button {
    font-family: var(--body);
    width: 40%;
    justify-content: center;
    background-color: var(--red);
    color: var(--white);
    font-size: var(--font-size-medium);
    padding: 0.75rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color var(--transition-speed);
}

.post-box button:hover {
    background-color: var(--darkRed);
}

.post-box textarea {
    font-family: var(--body);
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: var(--font-size-small);
    border: none;
    border-radius: var(--border-radius);
    min-height: 5rem;
    max-height: 15rem;
    resize: vertical; /* allow only vertical resizing */
}
/* ----------- */



/* Star */
.star {
    position: absolute;
    width: 0.125rem;
    height: 0.125rem;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 0.625rem white;
    animation: flash 1s infinite alternate;
    z-index: -1;
}

@keyframes flash {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* ----------- */


/*
------------------------------
            Utility
------------------------------
*/

.center-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

@media (max-width: 768px) {
    .timeline-year-label {
        font-size: 0.75rem;
    }
    .navbar {
        padding-bottom: 0.35rem;
    }
}
